@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Millennium Book Store</h1>
    <p class="lead">Welcome to Millenium Book Store! Here you can find from different genres, both physical and online copies, at your disposal.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available books</h2>
        <p>We have a many books ready to be purchased, including classics such as 2001: a Space Odyssey and Brave New World</p>
        <p><a class="btn btn-default" href="https://assignment2-bookstore.azurewebsites.net/bookInfo">Browse &raquo;</a></p>
    </div>
    <div class="col-md-4 pull-right">
        <h2>Locations</h2>
        <p>Our books can be found in different locations for your convinience.</p>
        <p><a class="btn btn-default" href="https://assignment2-bookstore.azurewebsites.net/bookLocations">Find our stores &raquo;</a></p>
    </div>
</div>